@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


.container {
    position: relative;
    width: 533px;
    height: 610px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 45px;
    font-family: 'Inter', sans-serif;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0.141), rgba(137, 137, 137, 0.313));
    margin: auto;
    overflow: hidden;

}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 33px 0 33px;
}

.top p {
    font-size: 20px;
}

.temp {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.celcius {
    font-size: 187px;
    line-height: 161px;
}

.celcius sup {
    font-size: 50px;
}

.fahrenheit {
    position: absolute;
    right: -33px;
    font-size: 27px;
    bottom: 17px;
    opacity: 0.7;
}

.city {
    font-size: 36px;

}

.flex-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.thermoMeter {
    font-size: 130px;
    opacity: 0.7;
}

.min-max {
    display: flex;
    flex-direction: column;
    gap: 6px;
    opacity: 0.7;
}

.hero-box {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 46px;
}

.icon-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.bottom div {
    display: flex;
    justify-content: space-around;
}

.wave {
    position: relative;
    bottom: 73px;
    overflow: hidden;
    z-index: -1;
    width: 100%;

}

@media screen and (max-width: 533px) {
    .flex-container {
        gap: 0;
    }

    .celcius {
        font-size: 150px;
    }

    .thermoMeter {
        width: 0.4em;
        font-size: 140px;
    }

    .top {
        padding: 31px 15px 0 15px;
    }

    .hero-box {
        gap: 30px;
    }



    .container {
        width: 95%;
        margin: 30px auto 20px auto;
        height: 76%;
    }
}

@media screen and (mai-width: 501px) and (max-width:1120px) {
    .flex-container {
        gap: 0;
    }

    .celcius {
        font-size: 150px;
    }

    .thermoMeter {
        width: 0.4em;
        font-size: 140px;
    }

    .top {
        padding: 31px 15px 0 15px;
    }

    .hero-box {
        gap: 30px;
    }

    .container {
        margin: 30px auto 20px auto;
    }
}